<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <div class="page_header">
        <h2>Minhas Tarefas</h2>
        </div>
        <form method="post">
        <h2> Você quer remover a tarefa "{{object.nome}}" ?</h2>
        <button type="submit" class="btn btn-danger">
            Excluir
        </button>
        <a class="btn btn-primary" href="/tarefas/">Cancelar</a>
        </form>
    {% endblock %}
</body>
</html>