<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {% extends "base.html" %}
        {% block content %}
        <div class="page-header">
            <h2>Olá {{ user.usuario }}</h2>
        </div>

        Você tem {{ counter }} {% if count > 0 %}tarefas abertas{% else %}tarefa
        aberta{% endif %}<br/>
        <a href="/tarefas/">Minhas Tarefas</a>
        ||
        <a href="/admin/login/?next=/">Login</a>
        ||
        <a href="tarefas/cria_usuario/">Criar usuário</a>

        {% endblock %}
</body>
</html>